@model IEnumerable<string>

@{
    ViewBag.Title = "Netrunner Challenge!";
}

        @using (Html.BeginForm("Generate", "Home", FormMethod.Post))
        {
            <div class="form-horizontal">
                <h4>Generate your next Deckbuilder Challenge!</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.Label("Faction", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("Faction", Model.Select(a => new SelectListItem() { Text = a, Value = a }), htmlAttributes: new {@class= "form-control" } )
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" id="subBtn" class="btn btn-default" /><img src="~/Content/loading.gif" id="loadingGif" style="display: none; width:32px"/>
                    </div>
                </div>
            </div>

        }

<div id="update"></div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
      
        $(document).ready(function (){
            $('#loadingGif').hide();
            $('#subBtn').submit(function () {
                $('#loadingGif').show();
                $('#subBtn').attr("disabled", "disabled");
                
            });
        });
    </script>
}
